.header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    border-bottom: solid #171717;
    border-width: 2px;
    
}

.headercontent{
 =

}

li{
    list-style-type: none;
}
.header .links{
    display : flex;
    justify-content: space-between;
    gap : 30px;
}

.logo{
    font-family: "Trirong", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    font-family: "Trirong", sans-serif;
}
.content{
    display : flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.content .written{
    display:flex;
    font-family: "Trirong";
    flex-direction: column;
    width : 500px;
    gap : 15px;
}

.signup{
    width: 25%;
    height: 10%;
    background: #24a0ed;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    cursor : pointer;
}

.signup:hover{
    background-color: #1e8ace;
    transition: all 0.2s ease-in;
}
.content img{
    width : 500px;
    flex-shrink : 1;
    border-radius: 15px;
}

.content .subtext{
    color: #171717;
}

.title{
    font-weight: bold; 
    font-size: 48px;
}

body{
    display: flex;
    font-size:100%;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    flex-direction: column;
}

.content2{
    display : flex;
    flex-direction: column;
    padding: 5% 10%;
    padding-bottom: 5%;
    gap : 30px;

}

.content2 img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}


.content2 .subtext{
    width: 200px;
    font-family: "Lexend Giga";
}

.content2 .images{
    display : flex;
    justify-content: space-evenly;
}

.content2 .title{
    text-align: center;
    font-family: "Lexend Giga";
    font-size: 48px;
    padding-bottom: 10px;

}

.content2 .justtext{
    display: flex;
    justify-content: space-evenly;
}


.quote{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    /*background-color: rgba(232, 241, 248, 0.507);*/
    background: linear-gradient(180deg, rgba(57, 31, 105,0) -2.3%, rgba(62, 39, 163, 0.2) 44.4%, rgba(231, 75, 184,0) 103.4%);

}
.quotetext{
    font-size: 36px;
    font-style: italic;
}

.quoteauth{
    font-size: 24px;
    font-weight: bold;
}

.alert{
    display : flex;
    justify-content: center;
    gap : 50px;
    /*background: #24a0ed;*/
    background: linear-gradient(to top, #24a0ed 0%, #50abe4 100%);
    margin : 10% 30%;
    height: 100px;
    align-items: center;
    border-radius: 15px;

}

.text{
    display : flex;
    flex-direction: column;
    color: white;
}

.alert .title{
    flex-shrink : 1;
    font-family: sans-serif;
    font-size : 1.25vw;
    font-weight: bold;
}

.alert .subtext{
    flex-shrink : 1;
    font-family: sans-serif;
    font-size: 0.8vw;
}

.alert .signup{
    flex-shrink : 1;
    background : #24a0ed;
    border:solid white;
    height: 1.5vw;
    font-size: 0.8vw;
    width : 5vw;
    border-width: 2px;
}

.alert .signup:hover{
    background-color: white;
    color: #171717;
    transition: all 0.2s ease-in;

}

.footer{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);    height: 40px;
    color: black;
    display : flex;
    justify-content: center;
    align-items: center;
}
.footer .text{
    font-family: "Trirong";
   
}